/*
    Nimbus App
    Author: Russel John Gonzales
    Version: 0.0.1
*/
/* BASE - Base styles, variables, mixins, etc. */
/* Font Color */
/* Background Colors */
/* Showcase Area */
/* Mixins */
/* line 1, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_normalize.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* line 5, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 9, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 13, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_normalize.scss */
.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 1, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_base.scss */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #000000;
}

/* line 8, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_base.scss */
a {
  color: #F06529;
}

/* line 12, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 16, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_base.scss */
input, textarea, button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 20, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_base.scss */
nav {
  padding: 0 !important;
}

/* line 24, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_base.scss */
img.device {
  width: 100%;
}

/* line 28, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/base/_base.scss */
img.device-small {
  width: 70%;
  margin-bottom: -40px;
}

/* LAYOUTS - Page layout styles */
/* Navbar */
/* line 3, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/layouts/_nav.scss */
.navbar {
  width: 100%;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  min-height: 60px;
  background: #e7e7e7;
  margin-bottom: 30px;
}

/* line 10, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/layouts/_nav.scss */
.navbar a {
  color: #F06529 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 18, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/layouts/_nav.scss */
.navbar a:hover {
  background: #F06529 !important;
  color: #fff !important;
}

/* Footer */
/* line 3, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/layouts/_footer.scss */
.footer-main {
  background: #333333;
  color: #ffffff;
  border-top: 5px solid #D9701A;
  min-height: 200px;
  padding: 30px 0;
  z-index: 100;
}

/* line 10, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/layouts/_footer.scss */
.footer-main a {
  color: #ffffff;
}

/* line 14, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/layouts/_footer.scss */
.footer-main ul {
  margin: 0;
  padding: 0;
}

/* line 19, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/layouts/_footer.scss */
.footer-main li {
  line-height: 1.8em;
  list-style: none;
}

/* MODULES - Individual site components */
/* lists */
/* line 3, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.list, .list-feature {
  margin-bottom: 30px;
}

/* line 7, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.list-feature {
  margin: 0;
  padding: 0;
  width: 80%;
}

/* line 13, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.list-feature li {
  line-height: 3.5em;
  border-bottom: 1px solid #cccccc;
}

/* line 18, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.list-feature li:last-child {
  border: 0;
}

/* line 22, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.list-feature span {
  vertical-align: top;
  padding-top: 9px;
  font-size: 120%;
}

/* line 28, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.list-feature i {
  margin-top: 5px;
  margin-right: 5px;
}

/* icons */
/* line 36, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.fa-primary {
  color: #F06529 !important;
}

/* line 40, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.fa-border {
  border: 1px solid #F06529;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 13px 15px;
  width: 80px;
  margin-bottom: 10px;
}

/* Headings */
/* line 50, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.heading-primary {
  color: #F06529;
}

/* line 54, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.heading-secondary {
  color: #D9701A;
}

/* line 58, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.heading-light {
  color: #e7e7e7;
}

/* line 62, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_typography.scss */
.heading-dark {
  color: #333333;
}

/* Blocks */
/* line 3, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_blocks.scss */
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}

/* line 7, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_blocks.scss */
.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin-top: 0;
  padding-top: 0;
}

/* line 13, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_blocks.scss */
.block-primary {
  background: #F06529;
  color: #fff;
}

/* line 19, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_blocks.scss */
.block-secondary {
  background: #D9701A;
  color: #fff;
}

/* line 25, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_blocks.scss */
.block-light {
  background: #e7e7e7;
  color: #000000;
  color: #333;
}

/* line 31, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_blocks.scss */
.block-dark {
  background: #333333;
  color: #ffffff;
  color: #333;
}

/* line 37, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_blocks.scss */
.block-center {
  text-align: center !important;
}

/* Buttons */
/* line 3, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_buttons.scss */
.btn-primary {
  background: #F06529;
  border: 2px solid #ffffff;
}

/* line 8, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_buttons.scss */
.btn-primary:hover {
  background: #d74b0f;
  border: 2px solid #ffffff;
}

/* Sections */
/* line 2, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_sections.scss */
section {
  padding: 30px 0;
}

/* line 6, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_sections.scss */
.section-showcase {
  min-height: 100%;
  background: url("../img/showcase.jpg") no-repeat top center;
}

/* line 10, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_sections.scss */
.section-showcase .showcase-content {
  padding-top: 110px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

/* line 17, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_sections.scss */
.section-showcase h1 {
  color: #F06529;
}

/* line 22, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_sections.scss */
.section-primary {
  background: #F06529;
  color: #fff;
}

/* line 27, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_sections.scss */
.section-secondary {
  background: #D9701A;
  color: #fff;
}

/* line 32, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_sections.scss */
.section-light {
  background: #e7e7e7;
  color: #000000;
  color: #333;
}

/* line 37, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_sections.scss */
.section-dark {
  background: #333333;
  color: #ffffff;
  color: #333;
}

/* Searchbox */
/* line 3, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_forms.scss */
.search {
  width: 100%;
  text-align: center;
}

/* line 7, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_forms.scss */
.search h3 {
  margin-top: 0;
  padding-top: 0;
}

/* line 12, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_forms.scss */
.search input[type="search"] {
  border: 0;
  height: 50px;
  width: 70%;
  border: 2px solid #F06529;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 5px;
}

/* line 22, D:/Russel John Gonzales/Documents/myProjects/nimbusapp/scss/modules/_forms.scss */
.search button {
  border: 2.5px solid #F06529;
  background-color: #F06529;
  color: #fff;
  padding: 6px;
  vertical-align: top;
  margin-left: -4px;
}

/*# sourceMappingURL=../css/main.map */