/* lists */

.list {
    margin-bottom: 30px;
}

.list-feature {
    @extend .list;
    margin: 0;
    padding: 0;
    width: 80%;

    li {
        line-height: 3.5em;
        @include add-border(1px, #cccccc, bottom);
    }

    li:last-child {
        border: 0;
    }

    span {
        vertical-align: top;
        padding-top: 9px;
        font-size: 120%;
    }

    i {
        margin-top: 5px;
        margin-right: 5px;
    }
}

.list-comments {
    margin: 0;
    padding: 0;
}

.list-comments li {
    padding: 10px 0 5px 0;
    @include add-border(1px, #cccccc, bottom);
}

.list-comments li:last-child {
    border: 0;
}

.list-comments img{
    width: 100px;
}

/* icons */

.fa-primary {
    color: $primary-color !important;
}

.fa-secondary {
    color: $secondary-color !important;
}

.fa-light {
    color: $light-color !important;
}

.fa-dark {
    color: $dark-color !important;
}

.fa-border {
    @include add-border(1px, $primary-color, all);
    @include border-radius(5px);
    padding: 13px 15px;
    width: 80px;
    margin-bottom: 10px;
}

/* Headings */

.heading-primary {
    color: $primary-color;
}

.heading-primary-a {
    @extend .heading-primary;
    @include add-border(2px, $primary-color, bottom);
}

.heading-secondary {
    color: $secondary-color;
}

.heading-secondary-a {
    @extend .heading-secondary;
    @include add-border(2px, $secondary-color, bottom);
}

.heading-light {
    color: $light-color;
}

.heading-light-a {
    @extend .heading-light;
    @include add-border(2px, $light-color, bottom);
}

.heading-dark {
    color: $dark-color;
}

.heading-dark-a {
    @extend .heading-dark;
    @include add-border(2px, $dark-color, bottom);
}

/* Emphasis Text */

.em-primary {
    color: $primary-color;
}

.em-secondary {
    color: $secondary-color;
}

.em-light {
    color: $light-color;
}

.em-dark {
    color: $dark-color;
}